@import "../../../styles/settings.scss";

.root {
  margin-bottom: 0px;
  padding-bottom: 0px;
  h2 {
    margin-left: 30px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
}
