@import "../../../styles/settings.scss";

.root {
  min-height: 60px;
  padding: 5px 55px;
  background-color: cadetblue;
  align-items: center;
  @include flex(row, center, center);

  @media (max-width: 820px) {
    .root {
      p {
        color: black;
        font-size: 10px;
        font-weight: 700;
        align-items: center;
      }
    }
  }
}
